body {
    font-family: Arial;
    background: #f4f6f5;
}

.container {
    width: 400px;
    background: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
}

.card {
    background: white;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    border-radius: 8px;
}
